---
title: Blog
navTags:
- header
- footer
navLabel: Blog
navSort: 60
---
<h1>{{title}}</h1>
<div>
    {{#each posts}}
        {{#is post "all"}}
            {{#withFirst pages 5}}
                <div>
                    <h2><a href="/{{relativeLink}}">{{data.title}}</a></h2>
                    <p>By {{data.author}} on {{formatDate data.posted "%F"}}</p>
                    <div>
                        {{#markdown}}{{data.summary}}{{/markdown}}
                    </div>
                    <p><a href="/{{relativeLink}}">more...</a></p>
                </div>
            {{/withFirst}}
        {{/is}}
    {{/each}}
</div>